[submodule "runtimes/wasmtime"]
	path = runtimes/wasmtime
	url = git@github.com:yagehu/wasmtime.git
[submodule "executor/protobuf-c/upstream"]
	path = executor/protobuf-c/upstream
	url = https://github.com/protobuf-c/protobuf-c.git
[submodule "wasi-sdk/upstream"]
	path = wasi-sdk/upstream
	url = https://github.com/yagehu/wasi-sdk
[submodule "runtimes/wasm-micro-runtime"]
	path = runtimes/wasm-micro-runtime
	url = https://github.com/bytecodealliance/wasm-micro-runtime.git
[submodule "runtimes/WasmEdge"]
	path = runtimes/WasmEdge
	url = git@github.com:yagehu/WasmEdge.git
[submodule "runtimes/wasmer"]
	path = runtimes/wasmer
	url = git@github.com:yagehu/wasmer.git
[submodule "runtimes/node"]
	path = runtimes/node
	url = git@github.com:yagehu/node.git
