tools/activate.*

# Latex paper
*.aux
*.dvi
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
svg-inkscape

# Emacs
*~
\#*\#

# VS Code
.vscode/settings.json

# IntelliJ
.idea

# Python
venv/

# Rust
target

# Mac OS
.DS_Store

# Z3
.z3-trace
