"use strict";

const fs = require("fs");
const { WASI } = require("wasi");
const wasi = new WASI({
    version: "preview1",
    preopens: {
        {%- for preopen in preopens %}
        "{{ preopen.name }}": "{{ preopen.host_path }}",
        {%- endfor %}
    },
});
const importObject = { wasi_snapshot_preview1: wasi.wasiImport };

(async () => {
    const wasm = await WebAssembly.compile(
        fs.readFileSync("{{ executor }}")
    );
    const instance = await WebAssembly.instantiate(wasm, importObject);

    wasi.start(instance);
})();
